/* Arquivo style.css com tema escuro */
body {
  background-color: #121212; /* fundo preto */
  color: #ffffff; /* texto claro */
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.title {
  color: #c792ea; /* roxo claro */
  text-align: center;
}

.content-section {
  background-color: #1e1e1e; /* fundo escuro para as seções */
  margin: 20px 0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* sombra para dar profundidade */
}

.content-section h2 {
  color: #bb86fc; /* roxo mais vibrante */
}

.content-section p {
  color: #e0e0e0; /* texto cinza claro */
}

.content-section img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 4px;
}

/* Estilização adicional conforme necessário */
.button {
  display: inline-block; /* Para se comportar como um botão */
  padding: 10px 20px; /* Tamanho do botão, ajuste conforme necessário */
  margin-top: 10px; /* Espaçamento, ajuste conforme necessário */
  text-decoration: none; /* Remove sublinhado do link */
  color: #fff; /* Cor do texto */
  background-color: #007bff; /* Cor de fundo do botão */
  border: none; /* Remover borda */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
}
/* Adicione também o estado hover para dar feedback quando o usuário passa o mouse sobre o botão */
.visit-site-button:hover {
  background-color: #0056b3;
}